body {
    overflow-x: hidden;
    background: #2c2f33;

    font-family: Arial, Helvetica, sans-serif;
}

.blurdiv:hover {
    filter: blur(8px);  
    -webkit-filter: blur(8px);
}

textarea {
    background:#404040;
    color: #ffffff;
}

.parent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.parent2 {
    display: flex;
    flex-direction: row;
}

.parent2 > div {
    display: inline-block;
}

.parent > div {
    display: inline-block;
}

.title-bg {
    background: linear-gradient(150deg, rgba(79,151,200,0.6) 15%, rgba(5,141,212,1) 100%),
    url(https://i.ytimg.com/vi/AHLepMi8NnA/maxresdefault.jpg);
    background-size: cover; 
}

.action-content {
    background: #ffffff;
    border-radius: 3px;
    max-height: 300px;
    padding: 30px;
}

.topleft {
    position: absolute;
    top: 8px;
    right: 16px;
}

.hoverdiv {
    background: #2db2f7;
}

.hoverdiv:hover {
    background: #50c0fa;
}

.botton {
    cursor: pointer;
    background: #049ff0;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    outline: 0;
    transition: all 0.3s ease-in-out
}

.botton:hover {
    background: #2db2f7;
    border: none;
}

.botton:focus {
    background: #2db2f7;
    border: none;
    outline: 0;
}

.botton:active {
    background: #2db2f7;
    border: none;
}

.botton:focus {
    background: black;
    color: #ffffff;
    border: 2px solid white;
}