body {
    overflow-x: hidden;
    background: #2c2f33;

    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    background:#404040;
    color: #ffffff;
}

.parent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.parent2 {
    display: flex;
    flex-direction: row;
}

.parent2 > div {
    display: inline-block;
}

.parent > div {
    display: inline-block;
}

.title-bg {
    background: linear-gradient(90deg, rgba(87,94,223,0.6) 0%, rgba(60,162,255,0.8) 100%),
    url(https://i.ytimg.com/vi/AHLepMi8NnA/maxresdefault.jpg);
    background-size: cover;
}

.bottom-bg {
    background: linear-gradient(90deg, rgba(87,94,223,0.6) 0%, rgba(60,162,255,0.8) 100%),
    url(https://www.pueblo.us/ImageRepository/Document?documentID=24696);
    background-size: cover;
}

.action-content {
    background: #ffffff;
    border-radius: 3px;
    max-height: 300px;
    padding: 30px;
}

.botton {
    cursor: pointer;
    background: linear-gradient(90deg, rgba(87,94,223,0.6) 0%, rgba(60,162,255,0.8) 100%);
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease-in-out
}

.botton:hover {
    background: linear-gradient(150deg, rgba(236,63,63,1) 15%, rgba(223,87,87,1) 100%);
    color: #ffffff;
}

.botton:active {
    background: rgba(60,162,255,0.8);
    border: 2px solid white;
}

.botton:focus {
    background: linear-gradient(150deg, rgba(236,63,63,1) 15%, rgba(223,87,87,1) 100%);
    color: #ffffff;
    border: 2px solid white;
}