<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>File(s) size</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <script
      src="https://use.fontawesome.com/releases/v5.15.0/js/all.js"
    ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.min.js" integrity="sha512-y3o0Z5TJF1UsKjs/jS2CDkeHN538bWsftxO9nctODL5W40nyXIbs0Pgyu7//icrQY9m6475gLaVr39i/uh/nLA==" crossorigin="anonymous"></script>
  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>

  <script>
    function downloadTwo(data) {

      var fill = `<?xml version="1.0" encoding="UTF-8"?>

      <manifest identifier="man00001">
          <organization default="toc00001"><tableofcontents identifier="toc00001"/></organization>
          <resources>
              <resource baseurl="res00001" file="res00001.dat" identifier="res00001" type="assessment/x-bb-pool"/>
          </resources>
      </manifest>`

      var zip = new JSZip();
      zip.file("imsmanifest.xml", fill);
      zip.file("res00001.dat", data);
      zip.generateAsync({type:"blob"})
      .then(function(content) {
        saveAs(content, "blackboard.zip");
      });
    }
  </script>

  <form action="/something" method="POST" style="padding-left: 10px;">
    <% if (field) { %>
      <textarea id="title" name="title" style="width: 98%; height: 200px; resize: none;"><%= field %></textarea>
    <% } else { %>
      <textarea id="title" name="title" style="width: 98%; height: 200px; resize: none;" placeholder="Input your text here"></textarea>
    <% } %>

    <div style="padding-top: 10px;">
      <% if (pool) { %>
        <input type="submit" value="Update" class="botton">
      <% } else { %>
        <input type="submit" value="Save" class="botton">
      <% } %>
      <a class="botton" style="background: #3e4042;" href="/">Cancel</a>
    </div>
  </form>
<% if (pool) { %>
  <form action="/update" method="POST">
    <div id="div1" style="padding-left: 10px;">
      <% if (pool.title) { %>
        <h5 style="color: azure; font-size: large;"><%= pool.title %> (<%= pool.questions.length %> questions)</h5>
      <% } %>
      <% pool.questions.forEach(question => { %>
        <div class="hoverdiv" style="padding-left: 10px; border-radius: 10px; width: auto;">
          <div>
            <p style="font-size: 19px; padding-top: 10px;"><%= `${pool.questions.indexOf(question) + 1}) ` %><%= question.value %></p>
            <p class="topleft"><i class="fas fa-pen-square"></i></p>
          </div>
          <div style="padding-left: 20px; padding-bottom: 10px;">
            <% if (question.answers[0]) { %>
              <% question.answers.forEach(answer => { %>
                <div>
                  <% if (question.correct === answer) { %>
                    <label style="font-weight: bold;"><input type="checkbox" checked id="<%= `q${pool.questions.indexOf(question) + 1}a${question.answers.indexOf(answer) + 1}` %>" 
                      name="<%= `q${pool.questions.indexOf(question) + 1}a${question.answers.indexOf(answer) + 1}` %>" value="value"><%= answer %></label>
                  <% } else { %>
                    <label><input type="checkbox" disabled id="<%= `q${pool.questions.indexOf(question) + 1}a${question.answers.indexOf(answer) + 1}` %>" 
                      name="<%= `q${pool.questions.indexOf(question) + 1}a${question.answers.indexOf(answer) + 1}` %>" value="value"><%= answer %></label>
                  <% } %>
                </div>
              <% }) %>
            <% } else if (question.correct) { %>
              <div>
                <% if (question.correct.toLowerCase() === 't' || question.correct.toLowerCase() === 'true') { %>
                  <label style="font-weight: bold;"><input type="checkbox" checked id="<%= `q${pool.questions.indexOf(question) + 1}` %>" 
                    name="<%= `q${pool.questions.indexOf(question) + 1}` %>" value="value">True</label>
                <% } else { %>
                  <label style="font-weight: bold;"><input type="checkbox" disabled id="<%= `q${pool.questions.indexOf(question) + 1}` %>" 
                    name="<%= `q${pool.questions.indexOf(question) + 1}` %>" value="value">False</label>
                <% } %>
              </div>
            <% } else if (!question.correct) { %>
              <p style="font-weight: bold; color: light;"><i class="fas fa-exclamation-circle"></i> Please note that this question is considered an essay question because it has no answer!</p>
            <% } %>
          </div>
        </div>
      <% }) %>
    </div>
    <% if (xml) { %>
      <div style="padding-top: 20px; padding-left: 10px; width: auto">
        <div style="color: #ffffff; padding: 10px; padding-left: 20px; background-color: #3e4042; border-radius: 5px; width: 50%;">
          <h4>File Preview</h4>
          <p><i class="fas fa-file-archive"></i> blackboard.zip</p>
          <div style="padding-left: 10px;">
            <p><i class="fas fa-file-excel"></i> imsmanifest.xml</p>
            <p><i class="fas fa-file"></i> res00001.dat</p>
          </div>
        </div>
        <div style="margin-left: 60%; position: absolute; margin-top: -180px;">
          <input type="button" value="Download blackboard.zip" onclick="downloadTwo(`<%= xml %>`)" class="botton">
          <input type="submit" style="background: #3e4042;" value="Refresh Pool" class="botton">
        </div>
      </div>
      
    <% } %>
    <div style="padding-top: 20px; padding-left: 10px;">
    </div>
  </form>
<% } %>
</body>
</html>