<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSU Pueblo</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
          integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <script src="/website/views/something.js">
        asfasf();
    </script>   

</head>
<body>
    <div class="parent">
        <div class="title-bg">
            <div class="center" style="padding-bottom: 80px; padding-top: 40px;">
                <a href="https://www.csupueblo.edu/"><img src="https://www.csupueblo.edu/_global/images/header/csupueblo-logo.png"></a>
                <h5 style="font-weight: 600; color: #ffffff;">Blackboard Quiz Generator</h5>
            </div>
        </div>
        <div style="background-color: #23272A; color: #ffffff;">
            <div class="col s4 m4 center" style="width: 100%; height: 100%; padding-top: 30px; position: relative; font-size: 0.9em;">
                <a href="/test"><button class="botton">GENERATE A TEST</button></a>
                <a href="#" style="padding-left: 100px;"><button class="botton">VIEW OTHER TESTS</button></a>
                <a href="#" style="padding-left: 100px;"><button class="botton">INSTRUCTIONS / FAQ</button></a>
            </div>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#23272A" fill-opacity="1" d="M0,96L80,96C160,96,320,96,480,85.3C640,75,800,53,960,53.3C1120,53,1280,75,1360,85.3L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
        </div>
    </div>
</body>
</html>